* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	max-width: 100%;
}

body {
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 32px;
}

img {
	max-width: 100%;
	border-radius: 8px;
}
.img__profile {
	width: 100%;
	height: 260px;
	object-fit: cover;
}
.photo__profile {
	width: 50%;
	border-radius: 15px;
}
.card__profile {
	width: 50%;
	background-color: moccasin;
	border-radius: 15px;

}

.card {
	max-width: 100%;
	width: 30vw;
	background: rgb(184, 214, 219);
	border-radius: 16px;
	padding: 32px;
}

.card__title {
	text-align: center;
	font-weight: 800;
}

.card__subtitle {
	text-align: center;
	font-weight: 500;
}

.button {
	background: #2196f3;
	color: white;
	border-radius: 8px;
	font-weight: 800;
	font-size: 15px;
	border: none;
	width: 100%;
	padding: 16px;
}

.card__action {
	color: #2196f3;
	text-decoration: underline;
}

.card__action:hover {
	cursor: pointer;
}

.button:hover {
	cursor: pointer;
	background: #1976d2;
}

/* .button--disabled {
      background:#cecece;
      color:#ececec
    }
    .button--disabled:hover {
      cursor:not-allowed;
      background:#cecece;
    } */

/* -------- Login */
.card__form {
	display: flex;
	margin: 16px 0px;
	gap: 16px;
	flex-wrap: wrap;
}

.card__form-input {
	padding: 8px;
	border: none;
	border-radius: 8px;
	background: #f2f2f2;
	font-weight: 500;
	font-size: 16px;
	flex: 1;
	min-width: 100px;
	color: black;
}
