* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	max-width: 100%;
}

body {
	background-image: linear-gradient(62deg, lightblue, #c6f2f5 100%);
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* width: 100vw; */
}
.homeFeed {
	margin: 40px auto 0 auto;
	width: 75vw;
	max-width: 600px;
	/* margin: 20px 15vw 0 15vw; */
	justify-content: center;
}
.homeUser {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
}
.imgHomeUser {
	width: 70px;
	height: 70px;
	border-radius: 15px;
}
.img__profile {
	width: 100%;
	height: 260px;
	object-fit: cover;
}
.photo__profile {
	width: 50%;
	border-radius: 15px;
}

.card {
	display: flex;
	/* margin-top: 100px; */
	justify-content: center;
	margin: 60px auto 0 auto;

	/* max-width: 100%; */
	width: 35vw;
	background: rgb(184, 214, 219);
	border-radius: 16px;
	padding: 32px;
}

.cardTitle {
	text-align: center;
	font-weight: 800;
}

.cardSubtitle {
	text-align: center;
	font-weight: 500;
}
.cardAction {
	color: #2196f3;
	text-decoration: underline;
}

.button {
	background: #2196f3;
	color: white;
	border-radius: 8px;
	font-weight: 800;
	font-size: 15px;
	border: none;
	width: 100%;
	padding: 16px;
}
.button:hover {
	cursor: pointer;
	background: #1976d2;
}

/* -------- Login */
.cardForm {
	display: flex;
	margin: 16px 0px;
	gap: 16px;
	flex-wrap: wrap;
}

.cardFormInput {
	padding: 8px;
	border: none;
	border-radius: 8px;
	background: #f2f2f2;
	font-weight: 500;
	font-size: 16px;
	flex: 1;
	min-width: 100px;
	color: black;
}
.space {
	padding-right: 5px;
}
@media screen and (max-width: 420px) {
	.homeFeed {
		width: 100vw;
	}
	.homeUser {
		font-size: 1.2rem;
	}
	nav {
		display: inline-block;
	}
	.published {
		flex-wrap: wrap;
	}
	.card {
		width: 95vw;
	}
}
